<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Goodbye ChatWork Web</title>
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>
<body>
<div class="container">
  <h1 class="center-align">ログイン</h1>
  <div class="row">
    <form action="/rooms" method="POST" class="col s8 offset-s2">
      <div class="row">
        <div class="input-field col s12">
          <input id="mail_address" name="mail_address" placeholder="mail address" type="text" class="validate">
          <label for="mail_address">Mail Address</label>
        </div>
        <div class="input-field col s12">
          <input id="password" name="password" placeholder="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light" type="submit" name="action">ログイン
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">ログイン</h5>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
